<div id="social-share" class="col-sm-1">
    <div class="row mr-1 ml-1 social-media-icon-stack">
        <h6 class="col-sm-12 text-primary">Share it !!</h6>
        <a class="col-sm-12" href='http://twitter.com/share?url={{ full_url }}&text={{page.title}}' target="_blank">
            <div class="custom-social-icon bg-twitter mt-3">

                <i class="h6 fa fa-twitter fa-lg text-light align-self-center"></i>
            </div>
        </a>
        <a class="col-sm-12" href='https://www.facebook.com/sharer/sharer.php?u={{ full_urll }}' target="_blank">
            <div class="custom-social-icon bg-facebook mt-3">

                    <i class="h6 fa fa-facebook fa-lg text-light align-self-auto"></i>
            </div>
        </a>
    </div>
</div>