<div class="col-sm-1" style="margin-left: -8.3333%">
    <div class="social-media-icon-stack">
        <h5 class="h5 text-primary">Share it !!</h5>
        <a href='http://twitter.com/share?url={{ full_url }}&text={{page.title}}' target="_blank">
            <div class="custom-social-icon bg-twitter mt-3">

                <i class="h6 fa fa-twitter fa-lg text-light align-self-center"></i>
            </div>
        </a>
        <a href='https://www.facebook.com/sharer/sharer.php?u={{ full_urll }}' target="_blank">
            <div class="custom-social-icon bg-facebook mt-3">

                    <i class="h6 fa fa-facebook fa-lg text-light align-self-auto"></i>
            </div>
        </a>
    </div>
</div>