---
# Only the main Sass file needs front matter (the dashes are enough)
---
//$primary: purple;
$primary: #4d0099;
$font-family-base: 1.25rem;
$font-family-base: Tahoma, Geneva, sans-serif;
$banner-background: url("/assets/images/home-bg.jpg");
$background-image: url("/assets/images/bgcanvas.png");

.card-img-top {
  object-fit: none;
  height: 100%;
}

.navbar-nav .dropdown-menu {
  background: $primary;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: white;
}

@import "bootstrap";

html, body {
  width: 100%;
  overflow-x: hidden;
}

.site-header{
  width: 100%;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: $banner-background;
}

.full-content{
  margin-top: -40vh;
  padding-top: 30vh;
  background: white;
  background-image: url("/assets/images/bgcanvas.png");
  background:  -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30vh); /* FF3.6-15 */
  background:  -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30vh); /* Chrome10-25,Safari5.1-6 */
  background:  linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30vh); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.post-title-image {
  opacity: 0.6;;
  padding: 0.5vh;
  border-radius: 5px;
  height: 20vh;
}

.post-summary-text {
  margin-top: -10vh;
  margin-right: 2vh;
  margin-left: 2vh;
  background: white !important;
  opacity: 0.9;
  border: medium;
  border-radius: 5px;
}


.footer-wrapper {
  height: 30vh;
  width: 100%;
  margin: 0 0 !important;
  padding: 0 0 !important;
}
.contact-list, .social-media-list {
  list-style: none;
}
@import "syntax-highlighting";