---
layout: default
---
<div class="container" onscroll="testJS($event)">
    {% for category in site.categories%}
    {% assign temp_cat = category|first|downcase %}
    {% assign temp_nam = page.name | downcase %}
    {% if temp_cat == temp_nam %}
    {% for post in category[1] %}
    <div class="card card-border mt-1">
        {% if post.title_image %}
        {% assign post_image = post.title_image %}
        {% else %}
        {% assign post_image = site.default_title_image %}
        {% endif %}
        <div class="card-image-wrapper" style="background-image: url('{{post_image | relative_url}}');">
            <h2 class="card-title">
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h2>
        </div>
        <div class="card-body-wrapper">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <div class="post-meta">
                <i class="icon-hour-glass"></i>
                <span>{{post.date | date: date_format}}</span>
            </div>
            <div class="post-excerpt">
                <p>{{ post.excerpt | strip_html | truncatewords:75 }}</p>
                <a href="{{post.url | relative_url}}" class="text-primary float-right">
                    Read full story
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% include paginator.html %}
</div>
{% include sidebar.html %}