---
layout: default
---
<div class="container" onscroll="testJS($event)">
    {% for category in site.categories%}
    {% assign temp_cat = category|first|downcase %}
    {% assign temp_nam = page.name | downcase %}
    {% if temp_cat == temp_nam %}
    {% for post in category[1] %}
    <div class="card-with-shadow card-border mt-1">
        <div class="card-image-wrapper">
            {% if post.title_image %}
            <img class="card-image" src="{{post.title_image | relative_url}}">
            {% else %}
            <img class="card-image" src="{{site.default_title_image | relative_url}}">
            {% endif %}
        </div>
        <div class="card-body-wrapper">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h2>
            <div class="post-meta">
                <i class="icon-hour-glass"></i>
                <span>{{post.date | date: date_format}}</span>
            </div>
            <div class="post-excerpt">
                <p>{{ post.excerpt | strip_html | truncatewords:75 }}</p>
                <a href="{{post.url | relative_url}}" class="text-primary float-right">
                    Read full story
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% include paginator.html %}
</div>
{% include sidebar.html %}