---
layout: default
---
<div class="col-sm-5">
    <div class="row mr-2 ml-2">
        <div class="col-sm-12">
            <h2 class="h2">Posts</h2>
        </div>
        {% for post in paginator.posts %}
        <div class="col-sm-12 shadow-sm mt-2 p-0">
            <div class="post-title-image">
                {% if post.title_image %}
                <img class="card-img-top" src="{{post.title_image | relative_url}}">
                {% else %}
                <img class="card-img-top" src="{{site.default_title_image | relative_url}}">
                {% endif %}
            </div>
            <div class="post-summary-text">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <span class="post-meta">{{post.date | date: date_format}}</span>
                <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title |
                    escape }}</a></h2>
                <p>{{ post.excerpt | strip_html | truncatewords:75 }}</p>
                <a href="{{post.url | relative_url}}" class="text-primary float-right">
                    Read full story
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mr-2 ml-2 mt-3">
        <div class="col-sm-6">
            <span><a href="{{ '/feed.xml' | relative_url }}"><i class="fa fa-rss"></i> RSS</a></span>
        </div>
        <div class="col-sm-6">
            {% include paginator.html %}
        </div>
    </div>
</div>
<div class="col-sm-2">
    {% include sidebar.html %}
</div>

