---
layout: default
---
<div class="col-sm-7">
    <article class="row" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="col-sm-12">
            <h1 class="h1 text-primary mb-2" itemprop="name headline">{{ page.title | escape }}</h1>
            <div class="pull-left align-text-bottom">
                <strong>
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        {{ page.date | date: date_format }}
                    </time>
                    {% if page.author %}
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
                    {% endif %}
                </strong>
            </div>
            <div class="pull-right">
                {% assign full_url = site.url | append: page.url%}
                <!--<span><strong>Share: </strong></span>-->
                <a class="btn btn-primary" href='http://twitter.com/share?url={{ full_url }}&text={{page.title}}' target="_blank">
                    <i class="fa fa-twitter fa-lg social-icon"> Tweet </i>
                </a>
                <a class="btn btn-primary" href='https://www.facebook.com/sharer/sharer.php?u={{ full_urll }}' target="_blank">
                    <i class="fa fa-facebook fa-lg social-icon"> Share </i>
                </a>
            </div>
        </header>
        <div class="col-sm-12 mt-2">
            <hr class="align-self-center">
        </div>

        <div class="col-sm-12 mt-4" itemprop="articleBody">
            {{ content }}
        </div>

        <div class="col-sm-12 mt-3 mb-2">
            {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
            {% endif %}
        </div>
    </article>
</div>

