---
layout: default
---
<div class="container post">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-title">
            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
            <strong>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    {{ page.date | date: date_format }}
                </time>
                {% if page.author %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ page.author }}</span>
                </span>
                {% endif %}
            </strong>
        </div>

        <div class="mt-1" itemprop="articleBody">
            {{ content }}
        </div>

        <div class="comment-box card p-1 border-rounded-1">
            {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
            {% endif %}
        </div>
    </article>
</div>